[Desktop Entry]
Type=Application
Name=MkBib
Exec=mkbib
Icon=org.mavensgroup.mkbib
Terminal=false
Categories=Office;
StartupWMClass=org.mavensgroup.mkbib
